<% dice1 = rand(1..6)%>
<% dice2 = rand(1..6)%>
<% total = dice1+dice2%>

<%= "dice 1: #{dice1}"%>
<br>
<br>
<%= "dice 2: #{dice2}"%>
<br>
<br>
<%="You rolled: #{total}"%>

<br>
<br>

<a href = "https://3000-conormcgannon-webapps-ktp3da4b1pr.ws-us117.gitpod.io/dice"> Roll again </a>
 